.navbar-grid{
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-columns: 1fr 1fr;
}

.logo{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid green 2px;
}

@media only screen and (max-width: 600px) {
  .navbar-grid{
    display: grid;
    width: 100%;
    height: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 340px) {
.navbar-items{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,40px);
}  
}